version: 2

updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"

{% if use_docker %}
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"

{% endif %}
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
